/*product*/
.product-base{
    margin-top: 50px;
    background-color: var(--primary-white);
    border-radius: 5px;
}

.product-add{
    padding: 50px;
}
.title{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/*color and size*/
.color-size{
    background-color: var(--primary-white);
    margin-top: 30px;
    border-radius: 5px;
}
/*table product*/
.table-product{
    background-color: var(--primary-white);
    margin-top: 30px;
    border-radius: 5px;
}
.table-upload{
    cursor: pointer;
    background-color: #f4efef;
    border: 1px dashed #999;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.table-upload p{
    margin-bottom: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột với chiều rộng bằng nhau */
    grid-gap: 10px; /* Khoảng cách giữa các phần tử */
}

.item-grid{
    text-align: center;
}

.image-grid{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

.body-grid:hover .coating{
    display: block;
}

.coating{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    cursor: default;
    border-radius: 5px;
}

.coating i{
    color: var(--primary-white);
    cursor: pointer;
}