.toastmsg-container{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.toastmsg-body .message{
    font-size: 17px;
    margin-left: 10px;
}


/*success*/
.toastmsg-body_success{
    display: flex;
    align-items: center;
    color: #444;
    background-color: #fff;
    border-left: 6px solid var(--primary-toastSuccess);
    border-radius: 6px;
    padding: 17px;
    transform: translateX(calc(100% + 10px));
    animation: startt ease-in-out 1.5s forwards;
}
.countdown_success{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--primary-toastSuccess);
    animation: countdown linear 3s forwards;
}
.icon_success{
    color: #fff;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: var(--primary-toastSuccess);
    font-size: 18px;
}
/*warning*/
.toastmsg-body_warning{
    display: flex;
    align-items: center;
    color: #444;
    background-color: #fff;
    border-left: 6px solid var(--primary-toastWarning);
    border-radius: 6px;
    padding: 17px;
    transform: translateX(calc(100% + 10px));
    animation: startt ease-in-out 1.5s forwards;
}
.countdown_warning{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--primary-toastWarning);
    animation: countdown linear 3s forwards;
}
.icon_warning{
    color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: var(--primary-toastWarning);
    font-size: 18px;
}
/*error*/
.toastmsg-body_error{
    display: flex;
    align-items: center;
    color: #444;
    background-color: #fff;
    border-left: 6px solid var(--primary-toastError);
    border-radius: 6px;
    padding: 17px;
    transform: translateX(calc(100% + 10px));
    animation: startt ease-in-out 1.5s forwards;
}
.countdown_error{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--primary-toastError);
    animation: countdown linear 3s forwards;
}
.icon_error{
    padding: 2px 10px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--primary-toastError);
    font-size: 20px;
}
@keyframes countdown {
    0%{
        width: 98%;
    }
    100%{
        width: 0;
    }
}

@keyframes startt {
    0%{
        transform: translateX(calc(100% + 10px));
    }
    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0);
    }

}

@keyframes endd {
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-10%);
    }
    60%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(calc(100% + 10px));
    }
}
