*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-blue:#1876f8;
  --primary-white:#fff;
  --primary-bgMenu:#001427;
  --primary-text:#999;
  --primary-body:#f4f4f4;
  --primary-red:#fa0307;
  --primary-orange:#da601a;
  --primary-toastSuccess:#27a327;
  --primary-toastWarning: #eded2a;
  --primary-toastError:#FF0000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


